<!DOCTYPE html>
<body id="main_body">
  <div class="guide-content">
    <h2>Guide</h2>
    <p>Welcome to the Project Slippe 64 guide! This guide will help you understand how to use the application effectively.</p>
    <h2>Getting Started</h2>
      <ul>
    <li><p>First, select which emulator you want to convert from, and which you want to convert to</p></li>
    <li><p>Next, you'll need to pick your current save files. The number of files and their locations will vary depending on the emulator you're currently using</p></li>

      </ul>
    <h2>Ares</h2>
    <ul>
      <li>Ares saves are kept in the same directory as the ROM you made the save with</li>
      <li>The files will have the same name as the ROM, with different extensions</li>
      <li>There may be 1 or 2 files, upload whatever you find</li>
    </ul>
      <h2>Bizhawk/Emuhawk</h2>
    <ul>
      <li>Go to Emuhawk's file location (use the desktop or start menu shortcut)
          {% load static %}
        <img src="{% static '../static/find_emu_hawk_path.png' %}" alt="find emuhawk path" class="guide-pictures"></li>
      <li>Go to N64/SaveRAM within Emuhawk's folder
                  {% load static %}
        <img src="{% static '../static/goto_n64_emuhawk.png' %}" alt="go to n64 emuhawk" class="guide-pictures">
      <img src="{% static '../static/goto_saveram_emuhawk.png' %}" alt="go to saveram emuhawk" class="guide-pictures"></li>
      <li>The file name will be ROM_name.saveRAM (e.g. Super_Mario_64.saveRAM)</li>
    </ul>
      <h2>Retroarch</h2>
    <ul>
      <li>Go to Retroarch's file location (use the desktop or start menu shortcut)
                  {% load static %}
        <img src="{% static '../static/find_Retroarch.png' %}" alt="find Retroarch" class="guide-pictures"></li>
      <li>Go to the saves folder</li>
                  {% load static %}
        <img src="{% static '../static/goto_saves_retroarch.png' %}" alt="go to saves Retroarch" class="guide-pictures">
      <li>From here, go to the folder named after the core you saved your game in
                {% load static %}
        <img src="{% static '../static/goto_desired_core_retroarch.png' %}" alt="go to desired core Retroarch" class="guide-pictures"></li>
      <li>The file name will be ROM_name.SRM</li>
    </ul>
      <h2>Translating</h2>
      <ul>
          <li>Once you've selected the right emulators and files, press the 'submit all' button</li>
          <li>The application will process your files and convert them to the desired format</li>
          <li>A .zip file will then be downloaded to your computer</li>
          <li>simply uncompress these files and move them to the appropriate emulator folder</li>
          <li>your save game should now be playable on the new emulator</li>
      </ul>
  </div>

</body>
</html>